@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
.rocket{
    width: 100%;
    height: auto;
}
.card-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px 120px;
    gap: 20px;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 180px;
    gap: 15px;
}
.card-image{
    width: 30%;
    height: 100%;
}
.card-image img{
    height: 100%;
    width: 100%;
}
.card-content{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-button{
    width: 120px;
    height: 35px;
    background-color: #007BFF;
    border: solid #007BFF;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    border-radius: 2px;
}
.card-title{
    color: #212529;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.card-text{
    color: #212529;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 18px;
}