@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

ul {
  list-style: none;
}

.logo {
  height: 70px;
}

a {
  text-decoration: none;
}

header {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 120px;
  border-bottom: 2px solid hsl(0, 0%, 22%);
}

.main-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-title {
  color: #212529;
  font-size: 26px;
}

.nav-links a {
  color: #2a91ff;
  font-size: 18px;
  font-weight: 400;
  transition: 1s;
}

.active-nav {
  text-decoration: underline;
  color: #2a91ff;
}
