.missions {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.joined-missions-list {
  list-style: none;
  margin: 2% 0;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
}

li {
  padding-left: 10px !important;
}

li:first-child {
  border-top: none;
}

.list-item {
  border-top: 1px solid #d3d3d3;
  font-weight: 500;
  padding: 2% 0% 2% 0;
}
