.main-container {
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  gap: 40px;
}

.rokect-reserved {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.divider-rocket {
  width: 100%;
  border: 1px solid #d3d3d3;
}
